.blog-section {
    width: 100%;
    padding-top: 96px;
    padding-bottom: 90px;
    .section-title {
      width: 100%;
      padding-left:110px;
      box-sizing: border-box;
      color: var(--Primary-text, #1d2130);
      font-family: Roboto;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      display: flex;
      align-items: center;
      column-gap: 24px; /* 56px */
      div {
        width: 981px;
        height: 1px;
        background: #e5e5e5;
      }
    }
    .blog-posts {
      width: 100%;
      padding-top: 48px;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      column-gap: 24px;
      gap: 20px;
      .blog-post {
        width: 302px;
        &:nth-of-type(1) {
          h6 {
            color: var(--Black, #1c1d28);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 30px */
          }
          p {
            color: var(--Secondary-text, #525560);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 25.6px */
          }
        }
        &:nth-of-type(2) {
          h6 {
              color: var(--Black, #1c1d28);
              font-family: Roboto;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%; /* 30px */
            }
            p {
              color: var(--Secondary-text, #525560);
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 160%; /* 25.6px */
            }
        }
        &:nth-of-type(3) {
          h6 {
              color: var(--Black, #1c1d28);
              font-family: Roboto;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%; /* 30px */
            }
            p {
              color: var(--Secondary-text, #525560);
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 160%; /* 25.6px */
            }
        }
        &:nth-of-type(4) {
          h6 {
              color: var(--Black, #1c1d28);
              font-family: Roboto;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%; /* 30px */
            }
            p {
              color: var(--Secondary-text, #525560);
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 160%; /* 25.6px */
            }
        }
      }
    }
  }
  